@model tabib.Models.artical

@{
    ViewBag.Title = "Details";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<h1 class="page-header">@Html.DisplayFor(modelItem => Model.titleOfarticls)</h1>

<p>
    Written By
    <span class="glyphicon glyphicon-user"></span>
    <a href="#">Omran Alaa</a> At 
    <span class="glyphicon glyphicon-time"></span> @Html.DisplayFor(modelItem => Model.DateOfarticals)
    <span class="glyphicon glyphicon-list-alt"></span> @Html.DisplayFor(modelItem => Model.typeOfarticls)
</p>
<hr />
<img src="@Url.Content("~/"+Model.PathOfImage)" alt="No Image" class="image-responsive thumbnail" />
<hr />
<p>
    @Html.DisplayFor(modelItem => Model.TextArticles)
</p>

    @if(User.Identity.Name.ToLower().Equals("admin"))
    {
        <button type="button" class="btn btn-default" style="float: right">@Html.ActionLink("Edit", "Edit", new { id = Model.articalsID })</button>

        using (Html.BeginForm("Delete", "Artical", FormMethod.Post))
        {
        @Html.AntiForgeryToken()
            //@Html.HiddenFor(model => model.articalsID)  , new { id = Model.articalsID }
        <button type="submit" onclick="return window.confirm('Are you sure you want to delete this Artial?')" class="btn btn-default" style="float:right">delete</button> 
        }
    }
    
<hr />

<button type="button" class="btn btn-default glyphicon glyphicon-step-back" style="float:left">@Html.ActionLink("Back", "Index")</button>



