@model tabib.Models.consulation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Consulation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>consulation</legend>


        <div class="form-group">
            @Html.ValidationMessageFor(model => model.title)
            <label for="title"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input type="text" name="title" id="title" placeholder="title" />

        </div>
        
        <div class="form-group">
            @Html.ValidationMessageFor(model => model.Question)
            <label for="Question"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input type="text" name="Question" id="Question" placeholder="Question" />

        </div>


        <div class="form-group">
            @Html.ValidationMessageFor(model => model.KeyWords)
            <label for="KeyWords"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input type="text" name="KeyWords" id="KeyWords" placeholder="KeyWords" />

        </div>
        
        <div class="editor-label">
            <label for="PathImage"><i class="zmdi zmdi-account material-icons-name"></i></label>
        </div>
        
        <div class="editor-field">
            <input type="file" name="upload" id="upload" title ="upload image"/>
            @Html.ValidationMessageFor(model => model.PathImage)
        </div>
        <div class="form-horizontal" style="display :block">
            <div class="alert alert-danger" id="error">
                <span id="view-error"></span>
            </div>
        </div>

        <p>
            <input type="submit" value="Create" id="save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

<script>
    $(function () {
        $("#save").click(function () {
            $("#view-error").text("");
            if ($("#upload").val() == "") {  // submit without file display error message
                $("#error").fadeIn();
                $("#view-error").append("enter file");
                return false;
            }
            else {
                var filename = document.getElementById("upload").value;
                var myextension = filename.substring(filename.lastIndexOf(".") + 1);
                var extension = ["png", "jpg", "gif", "bmp"];  // upload not image file   display error message
                if ($.inArray(myextension, extension) == -1) {
                    $("#error").fadeIn();
                    $("#view-error").append("enter true file");
                    document.getElementById("upload").value = null;
                    return false;
                } else {
                    var filesize = document.getElementById("upload").files[0].size / 1024 / 1024;
                    if (filesize > 2) {  // upload big image   display error message
                        $("#error").fadeIn();
                        $("#view-error").append("enter true size file");
                        document.getElementById("upload").value = null;
                        return false;
                    }
                }
            }
        });
    });
</script>

    @Scripts.Render("~/bundles/jqueryval")
}
