@model tabib.Models.consulation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>consulation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Question)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfconsulation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfconsulation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.reply)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.reply)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Isreplaied)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Isreplaied)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfreply)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfreply)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PathImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PathImage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KeyWords)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KeyWords)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
