@model tabib.Models.consulation

@{
    ViewBag.Title = "Reply";
}

<h2>Reply:</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reply consulation</legend>

        @Html.HiddenFor(model => model.consulationID)
        @Html.HiddenFor(model => model.DateOfconsulation)
        @Html.HiddenFor(model => model.KeyWords)
        @Html.HiddenFor(model => model.PathImage)
        @Html.HiddenFor(model => model.title)
        @Html.HiddenFor(model => model.Question)

        <div class="w3-card-4 w3-margin w3-white">
            <img src="@Url.Content(Model.PathImage)" alt="Nature" style="width:100%" />
            <div class="w3-container">
                <h3><b>@Html.DisplayFor(model => Model.title)</b></h3>
                <h5>  Date: <span class="w3-opacity">@Html.DisplayFor(model => Model.DateOfconsulation)</span></h5>
            </div>

            <div class="w3-container">
                <p>
                    @Html.DisplayFor(model => Model.Question)
                </p>
                <hr />

                
                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.reply)
                    <label for="reply"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" name="reply" id="reply" placeholder="reply"  />

                </div>

            </div>

            <p>
                <input type="submit" value="add reply" />
            </p>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Consultion", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
