@model TabibV1.Models.articals

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "articals", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     @Html.HiddenFor(model => model.articalsID)
        @Html.HiddenFor(model => model.PathOfImage)
        @Html.HiddenFor(model => model.DateOfarticals)


    <div class="form-horizontal row">
       
            <div class="col-md-8">

                <div class="form-group">
                    @Html.LabelFor(model => model.titleOfarticls, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.titleOfarticls)
                        @Html.ValidationMessageFor(model => model.titleOfarticls)
                    </div>
                </div>
                <hr />

                <div class="form-group">
                    
                    <i class="control-label col-md-2 glyphicon glyphicon-user"></i>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.articlWriter)
                        @Html.ValidationMessageFor(model => model.articlWriter)
                    </div>

                   

                    <i class="control-label col-md-2 glyphicon glyphicon-list-alt"></i>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.typeOfarticls)
                        @Html.ValidationMessageFor(model => model.typeOfarticls)
                    </div>

                </div>

                
                <hr />
                <div class="form-group">
                   
                    <div class="col-md-offset-2 col-md-2">
                        <input type="file" name="upload" alt="Aa" id="upload" title="upload image" />
                        <img src="@Url.Content("~/"+Model.PathOfImage)" alt="Change Artical Image .. " class="image-responsive thumbnail" id="image" height="300" width="250" style="margin:10px;" />
                        @Html.ValidationMessageFor(model => model.PathOfImage)
                    </div>
                </div>

                


                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.TextArticles, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.TextArticles, new { @cols="500",@rows="5" , @contenteditable="true"})
                        @Html.ValidationMessageFor(model => model.TextArticles)
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" id="Save" class="btn btn-default" />
                        <a class="btn btn-default glyphicon glyphicon-step-backward" style="float:left;margin-right:15px;" href="@Url.Action("Details", "articals", new { id=@Model.articalsID})"> </a>

                    </div>

                   

                </div>
                <br />
            </div>

    </div>
}




@section Scripts {
    <script>
        $(function () {
            $("#upload").change(function (e) {
                document.getElementById("image").src = window.URL.createObjectURL(document.getElementById("upload").files[0]);
            });
            $("#save").click(function () {
                $("#view-error").text("");
                if ($("#upload").val() != "") {
                    var filename = document.getElementById("upload").value;
                    var myextension = filename.substring(filename.lastIndexOf(".") + 1);
                    var extension = ["png", "jpg", "gif", "bmp"];
                    if ($.inArray(myextension, extension) == -1) {
                        $("#error").fadeIn();
                        $("#view-error").append("enter true file");
                        document.getElementById("upload").value = null;
                        return false;
                    } else {
                        var filesize = document.getElementById("upload").files[0].size / 1024 / 1024;
                        if (filesize > 2) {
                            $("#error").fadeIn();
                            $("#view-error").append("enter true size file");
                            document.getElementById("upload").value = null;
                            return false;
                        }
                    }
                }
            });
        });
    </script>

@Scripts.Render("~/bundles/jqueryval")
}
