@model TabibV1.Models.DoctorViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create <small>doctors</small> </h2> 


@using (Html.BeginForm("Create", "Doctors", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "email", @type = "email" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "LastName" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateBirthday, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.DateBirthday, new { @class = "form-control", @placeholder = "DateBirthday", @type = "Date" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="file" name="upload" alt="Aa" id="upload" title="upload image" />
                <br />
                <img src="" alt="Select User Image .. " class="image-responsive thumbnail" id="image" height="300" width="250" style="margin:10px;" />
            </div>
           
          
        </div>

        <br />
        <hr />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.evaluate, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.evaluate, new { @class = "form-control", @type = "number", min = 1, max = 5 })
                @Html.ValidationMessageFor(model => model.evaluate)
            </div>

            @Html.LabelFor(model => model.specialty, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.specialty, new SelectList(Enum.GetValues(typeof(TabibV1.Models.specialty))), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.specialty)
            </div>

        </div>

        <div class="form-group">

        </div>
        <br />
        <hr />
        <br />

        <div class="form-group">
            @Html.Label("First Appointments", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.firstFrom, new { @type = "time", min = "06:00", max = "14:00", @class = "form-control", @placeholder = "firstFrom" })
                @Html.ValidationMessageFor(model => model.firstFrom)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.firstTo, new { min = "06:00", max = "14:00", @type = "time", @class = "form-control", @placeholder = "firstTo" })
                @Html.ValidationMessageFor(model => model.firstTo)
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Second Appointments", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.secondFrom, new { min = "12:00", max = "24:00", @type = "time", @class = "form-control", @placeholder = "secondFrom" })
                @Html.ValidationMessageFor(model => model.secondFrom)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.secondTo, new { min = "12:00", max = "24:00", @type = "time", @class = "form-control", @placeholder = "secondTo" })
                @Html.ValidationMessageFor(model => model.secondTo)
            </div>
        </div>
        <br />
       
        
        <div class="form-group">
            @Html.Label("Days", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.Days["saturday"])  saturdy &emsp;
                @Html.CheckBoxFor(m => m.Days["sunday"])  sunday &emsp;
                @Html.CheckBoxFor(m => m.Days["monday"])  monday &emsp;
                @Html.CheckBoxFor(m => m.Days["tuesday"])  tuesday &emsp;
                @Html.CheckBoxFor(m => m.Days["wenthday"])  wenthday &emsp;
                @Html.CheckBoxFor(m => m.Days["thursday"])  thursday &emsp;
                @Html.CheckBoxFor(m => m.Days["friday"])  friday &emsp;
           </div>
        </div>
        
            <br />
            <hr />
            <br />

            <div class="form-group">
                @Html.LabelFor(model => model.textAddress, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.textAddress, new { @cols = "500", @rows = "5", @contenteditable = "true" })
                    @Html.ValidationMessageFor(model => model.textAddress)
                </div>
            </div>


            @Html.HiddenFor(model => model.lat)
            @Html.HiddenFor(model => model.lang)


            <div class="col-md-10 col-md-offset-2">
                <strong> click to select location</strong>
                <div id="googleMap" style="width:100%;height:400px;border-radius:10px;margin:10px" ></div>
             <script>
                    function myMap() {
                        var map = new google.maps.Map(document.getElementById("googleMap"), {
                            center: new google.maps.LatLng(51.508742, -0.120850),
                            zoom: 5,
                        });
                var oldMark;
                    google.maps.event.addListener(map, 'click', function (e) {
                    map.setCenter(e.latLng);
                if(oldMark){
                oldMark.setMap(null);
                }

                    var marker = new google.maps.Marker({ position : e.latLng });
                    marker.setMap(map);
                    oldMark=marker;

                    var infowindow = new google.maps.InfoWindow({
                        content: "lat:" + e.latLng.lat() + " , lang: " +e.latLng.lat()
                    });
                google.maps.event.addListener(marker, 'click', function (e) { infowindow.open(map, marker);});

                            $('#lat').val(e.latLng.lat());
                            $('#lang').val(e.latLng.lng());
                        });
                    }
                </script>

            </div>
            <br />
            <hr />
            <br />
            <div class="form-group" >
                <div class="col-md-offset-2 col-md-10" style="margin-top:10px;">
                    <input type="submit" id="save" value="Create" class="btn btn-default" />
                    <a class="btn btn-default glyphicon glyphicon-home" style="float:left;margin-right:15px;" href="@Url.Action("Index", "Doctors")"> </a>
                </div>
            </div>

            <div class="alert alert-danger" style="display:none;" id="error">
                <span id="view-error"></span>
            </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG1TiWhyZbN7IyD4H76wipp0edrpY17zg&callback=myMap"></script>

    <script>
    $(function () {
        $("#upload").change(function (e) {
            document.getElementById("image").src = window.URL.createObjectURL(document.getElementById("upload").files[0]);
        });

        $("#save").click(function () {
            $("#view-error").text("");
            if ($("#upload").val() == "") {
                $("#error").fadeIn();
                $("#view-error").append("enter file");
                return false;
            }
            else {
                var filename = document.getElementById("upload").value;
                var myextension = filename.substring(filename.lastIndexOf(".") + 1);
                var extension = ["png", "jpg", "gif", "bmp"];
                if ($.inArray(myextension, extension) == -1) {
                    $("#error").fadeIn();
                    $("#view-error").append("enter true file");
                    document.getElementById("upload").value = null;
                    return false;
                } else {
                    var filesize = document.getElementById("upload").files[0].size / 1024 / 1024;
                    if (filesize > 2) {
                        $("#error").fadeIn();
                        $("#view-error").append("enter true size file");
                        document.getElementById("upload").value = null;
                        return false;
                    }
                }
            }
        });
    });
</script>

}
