@model TabibV1.Models.appointments

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>appointments</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.evaluation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.evaluation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointmentsTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointmentsTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.appointmentsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
