@using CaptchaMvc.HtmlHelpers;

@using CaptchaMvc.HtmlHelpers

@using CaptchaMvc;

 

@model tabib.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<section class="signup">
  
            <div class="signup-content">
                <div class="col-md-4">
                    <div class="signup-form">
                        <h3 class="form-title">Sign up</h3>
                        @using (Html.BeginForm())
                        {
                    @Html.AntiForgeryToken()


                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" name="email" id="email" placeholder="Your Email" />
                    </div>
                    <div class="form-group">
                        <label for="UserName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="UserName" id="UserName" placeholder="Your Name" />
                    </div>
                    <div class="form-group">
                        <label for="LastName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="LastName" id="LastName" placeholder="Your LastName" />
                    </div>
                    <div class="form-group">
                        <label for="Password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="Password" id="Password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Repeat your password" />
                    </div>
                    <div class="form-group">
                        <label for="DateBirthday"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="date" name="DateBirthday" id="DateBirthday" placeholder="your DateBirthday" />
                    </div>


                          
                            @Html.MathCaptcha();
                         <!--
                             <div class="form-group">
                                <img  src=""  id="captcha" alt="enter captcha" />  </div>
                             <div class="form-group">
                                <label for="captcha"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="captcha" id="captcha" placeholder="enter captcha" />   </div>
                         -->  
                         <br />  
                    <p class="Error">  @ViewBag.ErrMessage </p>     
                            
                            
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="btn btn-default" value="Register" />
                    </div>
                    @Html.ValidationSummary()
                        }
                    </div>

                </div>

                <div class="col-md-8">
                    <div class="signup-image">
                        <figure><img src="~/Images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="Login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
</section>

@section Scripts {

<script src="../../Scripts/vendor/jquery/jquery.min.js"></script>
<script src="../../Scripts/main.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
