<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My Tabib Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css
    <link rel="stylesheet" href="../../Content/style.css"> -->

    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bootstrap-3.3.7-dist/css/bootstrap.css")
    @Scripts.Render("~/bootstrap-3.3.7-dist/js/jquery.min.js")
    @Scripts.Render("~/bootstrap-3.3.7-dist/js/bootstrap.min.js")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-bottom:20px">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tabibak", "Index", "Artical", new { @class = "navbar-brand" });
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li >  <a href="@Url.Action("index", "Artical")"> Artical</a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <a href="@Url.Action("index", "Consulation")">Consulation <span class="badge">@Session["notification"]</span> </a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                    }
                </ul>

                <!-- <section id="login">  </section> --> 
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </nav>



    <div class="container">
        <div class="row" style="margin-top:60px">
     @if (Request.IsAuthenticated && ViewBag.Title!="About") {
           <div class="col-md-8">
                    @RenderBody()
            </div>
            <!--SideBar-->
            <div class="col-md-4">
                <div class="well">
                    <h4>searh Here</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="well">
                    <h4>category:</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Q</a>
                        </li>
                        <li>
                            <a href="#">A</a>
                        </li>
                        <li>
                            <a href="#">Z</a>
                        </li>
                    </ul>
                </div>
            </div>
      }
      else {
              @RenderBody()
      }
        </div>
        <footer>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <p>copy Right &copy; Omran Alaa Eldein - @DateTime.Now.Year </p>
                </div>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>

</html>
